<nav id="navbar">
    <div id="logo">
        <img src="/img/png logo/logo.png" alt="myOnlineMeal.com">
    </div>
    <ul>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="#services-container">Service</a></li>
        <li class="item"><a href="#client-section">Our Clients</a></li>
        <li class="item"><a href="#contact">Contact Us</a></li>
        <% if (!locals.name) { %>
            <li class="item"><a href="/signin">Sign In</a></li>
            <li class="item"><a href="/signup">Sign Up</a></li>
        <% }else{ %>
            <li class="item"><a href="#"><%= name %></a></li>
            <li class="item"><a href="/user/logout">LogOut</a></li>
        <% } %>
    </ul>
</nav>