<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <%- include("./partials/navbar") %>
    <section id="home">
        <h1 class="h-primary">Welcome to myOnlineMeal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quam laboriosam quod nam harum, </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem atque eum dolorum vero </p>
        <button class="btn">Order Now</button>
    </section>
    <section id="services-container">
        <h1 class="h-primary center">
            Our Services
        </h1>
        <div id="services">
            <div class="box">
                <img src="/img/png logo/logo1.png" alt="">
                <h2 class="h-secondary center">Food Catering</h2>
                <p>Lorem ipsum, dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repudiandae ipsa neque accusamus exercitationem qui, sunt excepturi quod! Sit, quas blanditiis?
                    adipisicing elit. Ipsum dolorum quo placeat sit dolore
                    doloremque perspiciatis inventore fuga commodi mollitia, ea voluptates, aut alias doloribus
                    corporis? Fuga, repellendus eligendi unde animi nemo similique pariatur.</p>
            </div>
            <div class="box">
                <img src="/img/png logo/Logo2.png" alt="">
                <h2 class="h-secondary center">Bulk ordering</h2>
                <p>Lorem ipsum, dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repudiandae ipsa neque accusamus exercitationem qui, sunt excepturi quod! Sit, quas blanditiis?
                    adipisicing elit. Ipsum dolorum quo placeat sit dolore
                    doloremque perspiciatis inventore fuga commodi mollitia, ea voluptates, aut alias doloribus
                    corporis? Fuga, repellendus eligendi unde animi nemo similique pariatur.</p>
            </div>
            <div class="box">
                <img src="/img/png logo/logo3.png" alt="">
                <h2 class="h-secondary center">Food ordering</h2>
                <p>Lorem ipsum, dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repudiandae ipsa neque accusamus exercitationem qui, sunt excepturi quod! Sit, quas blanditiis?
                    adipisicing elit. Ipsum dolorum quo placeat sit dolore
                    doloremque perspiciatis inventore fuga commodi mollitia, ea voluptates, aut alias doloribus
                    corporis? Fuga, repellendus eligendi unde animi nemo similique pariatur.</p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="/img/company logo/pngwing.com (4).png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="/img/company logo/pngwing.com (3).png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="/img/company logo/pngwing.com (5).png" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="/img/company logo/pngwing.com (6).png" alt="Our Client">
            </div>
        </div>
    </section>
    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Enter Your Name">
                </div>
                <div>
                    <label for="mail">Email</label>
                    <input type="text" id="mail" placeholder="Enter YOur email">
                </div>
                <div>
                    <label for="Phone">Phone Number</label>
                    <input type="text" id="Phone" placeholder="Enter Your Number">
                </div>
                <div>
                    <label for="Number">Pin Code</label>
                    <input type="number" id="Number">
                </div>
                <div>
                    <label for="message">Comment</label>
                    <textarea name="Message" id="message" cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="center">
            Copyright &copy; myOnlineMeal.com. All rights reserved!
        </div>
    </footer>
</body>

</html>